table {
    margin-left: auto;
    margin-right: auto;
    background-color: black;
}
.tab{
    padding-bottom: 20px;
    overflow: scroll;
}
.tablee th , td{
    border-collapse: separate;
    border-spacing: 10px;
    border: 2px solid white;
}
.tablee tr{
    border: 6px solid white;
}
.tablee td{
    text-align: center;
}

