table {
    margin-left: auto;
    margin-right: auto;
}
.tab{
    padding-bottom: 20px;
    overflow: scroll;
}
.tablee th , td{
    border-collapse: separate;
    border-spacing: 10px;
    border: 2px solid black;
}

.tablee td{
    text-align: center;
}

