.check{
  text-align: center;
  padding: 20px;
}

.btn{
  position: relative;
  background-color:#f5f7ff;
  color: black;
  width: max-content;
  display: inline-block;
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 2px solid white;
  
}

.btn:hover{
  background: #e6e6fa;
  color:  black;
  border-color: black;
  border-color: transparent;
  border-color: black;
}


.hello{
  margin-top: 1.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

.btn2{
  display: block;
  margin: 50px auto;
  color: black;
  background-color:#f5f7ff;
  width: fit-content;
  border: 2px solid white;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  transition: background 0.5s, transform 0.5s;
}

.btn2:hover{
  background: white;
  color:  black;
  border-color: black;
  transform: translateY(-10px);
}

.play {
position: relative;
background-color:#f5f7ff;
color: black;
width: max-content;
display: inline-block;
padding: 0.75rem 1.2rem;
border-radius: 0.4rem;
cursor: pointer;
border: 2px solid white;
}

.circle{
display: flex;
margin: 20px;
justify-content: center;
align-items: center;
flex-direction: column;
}

.play2{
margin-bottom: 10px;
}
